.navbar {
    background-color:#B3000C;
}

.navbar-brand {
    color:white;
    padding-left: 20px;
}

.body {
    background-color:#D4FCC3;
}

.description {
    background-image: url("http://schools.stlucie.k12.fl.us/swc/files/2014/12/blue-christmas-snow-fall-animation.gif");
    color:white;
    padding:30px;
    font-size: 20px;
}

.body-center {
    margin-right: 15vw;
    margin-left: 15vw;
}

.login-button {
    padding-right: 30px;
    background-color: green;
}

.disclaimer {
    color:grey;
}

.team-name {
    color:firebrick;
}