<!DOCTYPE html>
<html>
    <head>
        <!--THIS WILL BE NAVBAR-->
        <div>
            <ul>
                <!--LEFT-ALIGNED HEADER-->
                <h3>Spotify Bootstrapped & Giftwrapped</h3>
                <ul>
                    <a href="">LOGIN</a>
                </ul>
            </ul>
        </div>
    </head>
    <body>
        <!--ALL CENTERED-->
        <div>
            <h1>Welcome to Team <b>Chronically Late's</b> P01</h1>
            <h1>This is our new and improved Spotify Wrapped!</h1>
            <h3>
                Disclaimer: You must login with a Spotify account. Rest easy ---
                You can register with Spotify through Facebook or Email. It won't
                take any important information (not that I know of) and it is pretty painless.
                (Tested and true!)
            </h3>
            <!--make dummy spotify account so that devos can use to make a class-curated playlist and test their listening-->
        </div>
        <!--BOX AROUND THIS AND BOOTSTRAP BUTTON-->
        <div>
            <p>Tired of only being able to get Top Five artists and songs on <i>regular</i> Spotify Wrapped???</p>
            <p>Sick of the cheesy and long transitions Spotify forces you to endure??</p>
            <p>Like, what even <i>is</i> a listening personality?</p>
            <br>
            <p>Well, we've cut the BS and given you a <b>new</b> BS: <b>BOOTSTRAP</b>!</p>
            <p><i>ONLY</i> through giving up your most valuable credentials... will you be able to access
                 <b>EVEN MORE</b> usefulthrough Spotify data to fuel your superior music taste ego, </p>
        </div>
    </body>
</html>