<!DOCTYPE html>
<html>
    <head>
        <!--THIS WILL BE NAVBAR-->
        <div>
            <ul>
                <!--LEFT-ALIGNED HEADER-->
                <h3>Spotify Bootstrapped & Giftwrapped</h3>
                <ul>
                    <a href="">LOGIN</a>
                </ul>
            </ul>
        </div>
    </head>
    <body>
        <!--ALL CENTERED-->
        <div>
            <h1>Welcome to Team <b>Chronically Late's</b> P01</h1>
            <h1>This is our new and improved Spotify Wrapped!</h1>
            <h3>
                Disclaimer: You must login with a Spotify account. Rest easy ---
                You can register with Spotify through Facebook or Email. It won't
                take any important information (not that I know of) and it is pretty painless.
                (Tested and true!)
            </h3>
        </div>
    </body>
</html>