<!DOCTYPE html>

<html>
<head>
  <title>Top Tracks</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="../static/style.css">
  <div class="navbar navbar-inverse">
    <!--LEFT-ALIGNED HEADER-->
    <h3 class="navbar-brand">Spotify Bootstrapped & Giftwrapped</h3>
    <!--
        <form action="/login" class="login-button btn btn-lg">
        <input type="submit" value="log in">
        </form>
    -->
    <button type="button" class="login-button btn btn-lg">
        <form action="/login">
            <input type="submit" value="log in">
        </form>
    </button>
  </div>
</head>
<body>
  <h1>
    Top Tracks
  </h1>
  <form action='/toptracks?token={{oldtoken}}&limit={{newlimit}}&offset={{newoffset + newlimit}}' method="POST">
    {% if data -%}
      <table>
        <tr>
          <th> Place </th>
          <th> Song </th>
        </tr>
        {% for value in data %}
        <tr>
          <td>{{newoffset + data.index(value) + 1}}</td>
          <td>{{value}}</td>
        </tr>
        {% endfor %}
      </table>
      <p>Limit: {{newlimit}}, Offset: {{newoffset}}</p>
      <input type="submit" value="add" name="see more">
    {% else -%}
      Start from:
      <input type="text" name="offset">
      Entries Per Page (max 50):
      <input type="text" name="limit">
      <input type="submit" name="see more" value="first">
    {% endif %}
  </form>
</body>
</html>
