<!DOCTYPE html>

<html>
<head>
  <title>Top Artists</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="../static/style.css">

  <!--LIGHTS.CSS SOURCED FROM https://codepen.io/tobyj/pen/QjvEex-->

  <link rel="stylesheet" href="../static/lights.css">
  <div class="navbar navbar-inverse">
    <!--LEFT-ALIGNED HEADER-->
    <div class="navbar-brand d-flex flex-row">
      <h3>Spotify Bootstrapped & Giftwrapped</h3>
      <img src="../static/images/menora2.png" class="navbar-brand-image">
  </div>
    <!--
        <form action="/login" class="login-button btn btn-lg">
        <input type="submit" value="log in">
        </form>
    -->
    <a href="/choose?token={{oldtoken}}" class="btn text-center"> New Action </a>
    <form action="/login">
      <input type="submit" value="choose different account" class="login-button btn text-center">
   </form>
  </div>
  <ul class="lightrope">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
</head>
<body class="body">
  <div class="text-center body-center">
    <h1 class="tracks-pick-font">
      Top Artists
    </h1>
  </div>
  <div class="text-center body-center">
    <form action='/topartists?token={{oldtoken}}&limit={{newlimit}}&offset={{newoffset + newlimit}}&range={{time_range}}' method="POST">
    {% if data -%}
    <h1> Your Top Artist:  {{data.get("0")[0]}}</h1>
    <body> Here's some information about your favorite artist
    </br>
    Birthday: {{data.get("0")[6]}} </br>
    Nationality: {{data.get("0")[7]}}</br>
    Net Worth: {{data.get("0")[8]}}
    </br></br></br></br></br>
    </body>
  <br>
    <table>
      <tr>
        <th> Place </th>
        <th> Artist </th>
        <th> ID </th>
      </tr>
      {% for key in data.keys() %}
      <tr>
        <td>{{ key | int}}</td>
        <td>{{data.get(key)[0]}}</td>
        <td>{{data.get(key)[2]}}</td>
      </tr>
      {% endfor %}
    </table>
    <p>Limit: {{newlimit}}, Offset: {{newoffset}}</p>
    <input type="submit" value="add" name="see more">
  {% else -%}
    <div>
      <div class="text-center">
        <h6 class="track-form-note-h">Note:</h6>
        <p class="track-form-note">
          Artist indeces are denoted by integers, with the first one starting at 0,
          and the max being 50 indeces.
        </p>
      </div>
      <div>
        <h5 class="form-label">First Artist Index:</h5>
        <input type="text" name="offset" class="form-control">
      </div>
      <br>
      <div>
        <h5 class="form-label">Last Artist Index (MAX 50)</h5>
        <input type="text" name="limit" class="form-control">
      </div>
      <br>
      <div>
        <input type="submit" name="see more" value="long_term" class="time-button">
        <input type="submit" name="see more" value="medium_term" class="time-button">
        <input type="submit" name="see more" value="short_term" class="time-button">
      </div>
    </div>
  {% endif %}
</form>
</div>
<div class="text-right body-right">

</div>
</body>
</html>
